.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;

  padding: 16px;
  margin: 50px auto 0 auto;
  max-width: 900px;
  border-radius: 4px;
}

.empty {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
