.DataInput {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

@media screen and (max-width: 660px) {
  .DataInput {
    flex-direction: column;
  }
}

.DataInput .input-group {
  max-width: 250px;
  margin: 10px;
}

.DataInput .hide-numbers {
  max-width: 250px;
  margin: 0 10px 0 10px;
}
